.brand-main {
  padding-top: 130px;
}

.brand-name {
  background: #ffffff;
  box-shadow: 0px 0px 50px rgba(102, 77, 253, 0.15);
  border-radius: 8px;
  color: #ff9900;
  font-size: 3.2rem;
  font-weight: 600;
  padding: 1em 0em;
  text-align: center;
  /* width: 90%; */
}

.brand-text {
  font-size: 2.2rem;
  color: #8c8c8c;
  padding-left: 1em;
}

.brand-text > span {
  font-weight: 600;
  color: black;
}

.brand-rh {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1em;
}

.brand-rl {
  font-size: 2.2rem;
  font-weight: 600;
}

.brand-rr {
  font-size: 1.6rem;
  font-weight: 500;
  color: #b8b8b8;
}

.brand-star {
  padding-right: 1em;
}

.brand-contact {
  padding-top: 1em;
  font-size: 1.6rem;
  font-weight: 500;
  color: #b8b8b8;
}

.brand-contact > span {
  font-size: 2.2rem;
  font-weight: 600;
  color: black;
}

.brand-box {
  background: #ffffff;
  box-shadow: 0px 0px 50px rgba(102, 77, 253, 0.15);
  border-radius: 8px;
  padding: 2em;
  margin-top: 2em;
  font-size: 1.8rem;
  font-weight: 400;
}

.brand-oh {
  font-size: 2.2rem;
  font-weight: 600;
  padding-bottom: 1em;
}

.brand-box > span {
  font-size: 1.8rem;
  font-weight: 400;
  margin: 1em 1em;
}

.brand-flag {
  width: 40px;
}

.brand-div {
  padding-bottom: 1em;
}

.brand-div > span {
  padding-left: 1em;
}

.brand-offer {
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 0px 50px rgba(102, 77, 253, 0.15);
  border-radius: 8px;
  padding: 1em;
  margin: 2em 0em 0em 2em;
}

@media (max-width: 768px) {
  .brand-offer {
    display: block;
  }

  .brand-oc {
    padding: 1em 0em;
  }
}

.brand-code {
  padding-right: 1em;
}

.brand-oc {
  font-size: 1.4rem;
  font-weight: 400;
}

.brand-oc > span {
  font-size: 2rem;
  font-weight: 600;
}

.brand-btn {
  border: none;
  color: #ffffff;
  background: #ff9900;
  box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
  border-radius: 100px;
  padding: 1em 2em;
  width: 50%;
  font-size: 1.8rem;
  font-weight: 700;
}

.brand-heading {
  font-size: 3.2rem;
  font-weight: 600;
  padding: 2em 0em 1em 0em;
}

.brand-heading > span {
  color: #ff9900;
}
