.userc-main {
  margin-top: 120px;
  padding-bottom: 30px;
}

.userc-comments {
  background: #ffffff;
  box-shadow:0px 0px 30px #ce704914;
  border-radius: 8px;
  font-size: 2.2rem;
  font-weight: 500;
  padding: 2em;
}

.userc-comment {
  padding-bottom: 1em;
}

.userc-chead {
  padding-bottom: 1em;
}

.userc-user {
  width: 40px;
  height: 40px;
}

.userc-name {
  padding-left: 1em;
  font-size: 1.8rem;
}

.userc-cb {
 
  padding: 1em 0em 1em 0em;
}

.userc-approve {
  padding-left: 3em;
  color: #34a853;
  font-size: 1.8rem;
}

@media (max-width: 992px) {
  .userc-comments {
    margin-top: 2em;
  }
}
.userc-Title-blog{
  font-size: 1.4rem;
  padding-left: 3em;
  font-weight: 600;

}

.userc-Title-comment{

  padding-right: 6px;
  font-size: 1.4rem;
  color: #34a853;
}
.userc-blog-comment{
  font-size: 1.4rem;
  font-weight: 600;
  color: #5b5b5b;
}
.userc-Total-comment{
  padding-right: 3px;
  font-size: 1.5rem;
  color: #ea4335;
}
.userc-TotalT-comment{
  font-size: 1.5rem;
  font-weight: 600;
  color: #3b3a3a;
}


.userc-comment {
  padding-bottom: 1em;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  cursor: pointer;
}
.userc-comment::-webkit-scrollbar {
  display: none;
}

.usercnd-name {
  padding-left: 1em;
  font-size: 1.8rem;
  white-space: nowrap;
}