.userb-main {
  margin-top: 120px;
  padding-bottom: 30px;
}

.userb-head {
  display: flex;
  justify-content: space-between;
  font-size: 2.2rem;
  font-weight: 500;
  color: #575757;
}

.userb-blogs {
  width: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
 
}

.userb-pub {
  background: #ff9900;
  border-radius: 25px;
  color: white;
  border: none;
  font-size: 2.2rem;
  font-weight: 500;
  padding: 0.2em 1em;
}

.userb-active {
  color: #000;
}

.userb-ablog {
  background: #ffffff;
  box-shadow:0px 0px 30px #ce704914;
  border-radius: 8px;
  font-size: 2.2rem;
  font-weight: 500;
  padding: 2em;
  margin-top: 1.5em;
  padding-bottom: 20px;
}

.Blog-box {
  display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0px;
    gap: 0px;
    height: 100%;
    margin-bottom: 30px;
    overflow: scroll;
}
.Blog-box {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.Blog-box::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

#item-0ub {
  grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 2;
    width: 210px;
    height: 170px;
    border-radius: 8px;
}
#item-1ub {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 6;
  margin-left: 15px;

}
#item-2ub {
  margin-top: -15px;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 2;
    margin-left: 15px;
    grid-column-end: 5;
}
#item-3ub {
  grid-row-start: 3;
  grid-column-start: 2;
  color: #ff9900;
  grid-row-end: 5;
  grid-column-end: 5;
  margin-left: 15px;
  font-size: 23px;
  margin-top: 15px;
}
.item-share {
  margin-left: 40px;
}
.item-comments {
  float: right;
  margin-top: 5px;
}
.item-comments-span {
  float: right;
}
.more-text {
  color: #ff9900;
}

@media (max-width: 990.5px) {
  .Blog-box {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0px;
    grid-gap: 0px;
    gap: 0px;
    height: 100%;
    margin-bottom: 30px;
}
#item-0ub {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 2;
  width: 555px;
  height: 300px;
 
}
#item-1ub {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 4;
  margin-left: 15px;
  margin-top: 16px;
}
#item-2ub {
  margin-top: 87px;
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  margin-left: 15px;
  grid-column-end: 5;
}
#item-3ub {
  grid-row-start: 3;
  grid-column-start: 1;
  color: #ff9900;
  grid-row-end: 4;
  grid-column-end: 5;
  margin-left: 15px;
  font-size: 23px;
  margin-top: -75px;
}
}

@media (max-width: 767.9px) {
 
#item-0ub {
 width: 450px;}

}
@media (max-width: 500.9px) {
 
  #item-0ub {
   width: 370px;}
  
  }
  @media (max-width: 400.9px) {
 
    #item-0ub {
     width: 320px;}
    
    }


    .item-comments-span-ub {
      float: right;
      margin-right: 135px;
    }
    
@media (max-width: 1400px) {
  .item-comments-span-ub {
    margin-right: 40px;
  }
}
@media (max-width: 1200px) {
  .item-comments-span-ub {
    margin-right: 20px;
  }
}

@media (max-width: 990px) {
  .item-comments-span-ub {
    margin-right: 20px;
  }

}
@media (max-width: 769.9px) {
  .item-comments-span-ub {
    margin-right: 10px;
  }
}
/* @media (max-width: 578px) {
  .userb-blog {
    flex-direction: column;
  }
}

@media (max-width: 818.5px) {
  #item-2ub {
    margin-top: 0px;
    grid-column-end: 6;
  }
}
@media (max-width: 704.5px) {
  #item-1ub {
    grid-column-end: 5;
  }
  #item-3ub {
    grid-row-start: 4;
    grid-column-start: 1;
  }
}

@media (max-width: 499.5px) {
  .Blog-box {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0px;
    gap: 19px;
    height: 100%;
  }

  #item-0 {
    grid-row-start: 1;
    grid-column-start: 3;
    margin-top: 50px;

    grid-row-end: 2;
    grid-column-end: 4;
    width: 210px;
    height: 170px;
  }
  #item-1ub {
    
    grid-column-start: 3;
  }
  #item-2ub {
    margin-top: -170px;
    grid-row-start: 3;
    grid-column-start: 3;
    grid-row-end: 4;
    grid-column-end: 5;
  }
  #item-3ub {
    grid-row-start: 3 !important;
    grid-column-start: 1 !important;
    margin-left: 50px;
    grid-column-end: 6 !important;
  }
  .item-comments-span {
    margin-right: 40px;
  }
}
@media (max-width: 420.5px) {
  .item-comments-span {
    margin-right: 0px;
  }}
   */
